@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* ==========GENERAL========== */

:root {
    --bg-color: #111827;
    --bg-sec-color: #1f2937;
    --pri-color: #ff7a41;
    --pri-color-2: #ff6361;
    --text-color-gray: #9ca3af;
    --border-color-gray-transparent: rgb(156, 163, 175, 0.5);
    --text-color-gray-white: #d1d5db;
    --text-color-white: #f9fafb;
    --aside-margin: 255px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-color);
}



h2.content-head {
    font-size: 1.10625rem;
    font-weight: 700;
}

/* ==========HEADER========== */

.header {
    height: 65px;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    background-color: var(--bg-sec-color);
    color: whitesmoke;
    z-index: 999;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__li {
    display: grid;
    place-content: center;
}

.nav__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    display: grid;
    place-content: center;
    font-size: 1rem;
}

.header__icon {
    color: var(--pri-color-2);
    font-weight: bold;
    cursor: pointer;
}



/* ==========ASIDE========== */

.aside {
    background-color: var(--bg-sec-color);
    width: var(--aside-margin);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 10px 25px;
    overflow-y: auto;
    z-index: 99;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: whitesmoke;
}

.logo-icon {
    color: var(--pri-color-2);
    margin-right: 5px;
}

.aside-nav {
    margin-top: 30px;
}

.aside-nav__li {
    font-size: 0.9rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-block: 0.65rem;
    padding-block: 0.65rem;
    color: var(--text-color-gray);
    cursor: pointer;
    transition: 0.5s ease;
}

.aside-nav__li:hover {
    color: #fff;
}

.aside-nav__li.active {
    color: var(--pri-color-2);
    position: relative;
}

.aside-nav__li.active::before {
    content: '';
    background-color: var(--pri-color-2);
    position: absolute;
    width: 5px;
    height: 50px;
    left: -25px;
    bottom: -5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.aside__icon {
    margin-right: 15px;
    font-size: 100px;
    width: 20px;
    height: 20px;
}

.btn {
    border: none;
}

.aside__btn {
    position: fixed;
    height: 45px;
    width: calc(var(--aside-margin) - 50px);
    bottom: 25px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: var(--pri-color);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logout-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.icon-more {
    margin-left: 10px;
    width: 16px;
    height: 16px;
}

/* ==========MAIN========== */

.main {
    background-color: var(--bg-color);
    color: var(--text-color-gray-white);
    padding: 25px;
    padding-top: 85px;
}



.large-cards {
    margin-block: 25px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.large-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 190px;
    background-color: #0d9488;
    border-radius: 8px;
    padding-top: 26px;
}

.large-card:nth-child(2) {
    background-color: #fb923c;
}

.large-card:nth-child(3) {
    background-color: #3b82f6;
}

.large-card:nth-child(4) {
    background-color: #0891b2;
}

.large-card:nth-child(5) {
    background-color: #059669;
}

.large-card__icon {
    width: 30px;
    height: 30px;
}

.large-card__p,
.large-card__price,
.large-card__price-details {
    color: var(--text-color-white);
}

.large-card__p {
    margin-block: 6px;
    font-size: 0.925rem;
}

.large-card__price {
    margin-bottom: 6px;
}

.large-card__price-details {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    width: 70%;
}

.large-card__price-detail {
    width: 33%;
    display: flex;
    justify-content: center;
    gap: 2.5px;
    flex-wrap: wrap;
}

.small-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-block: 35px;
}

.small-card {
    background-color: var(--bg-sec-color);
    border-radius: 10px;
    height: 80px;
    display: flex;
    align-items: center;
}

.small-card__icon-div {
    width: 48px;
    height: 48px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background-color: #f97316;
    margin-inline: 16px;
}

.small-card:nth-child(2)>.small-card__icon-div {
    background-color: #3b82f6;
}

.small-card:nth-child(3)>.small-card__icon-div {
    background-color: #14b8a6;
}

.small-card:nth-child(4)>.small-card__icon-div {
    background-color: #10b981;
}

.small-card__details>p {
    font-size: 0.825rem;
    color: var(--text-color-gray);
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.table-line-chart {
    background-color: var(--bg-sec-color);
    padding: 20px;
    border-radius: 10px;
    height: 410px;
}

.line-chart-toggle {
    margin-block: 30px 20px;
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 20px;
    border-bottom: 1px solid var(--border-color-gray-transparent);
}

.chart-des {
    font-size: 1rem;
    font-weight: 700;

}

.line-chart-toggle-child {
    color: var(--text-color-gray);
    font-size: 0.85rem;
    padding-bottom: 10px;
}

.line-chart-toggle-child.active {
    color: var(--pri-color-2);
    font-weight: 500;
    position: relative;
}

.line-chart-toggle-child.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: var(--pri-color-2);
    bottom: -2px;
    left: 0;

}

.pie-chart__container {
    margin-top: 35px;
    width: 100%;
}


.recent-orders {
    margin-top: 65px;
    overflow-x: auto;
}

table {
    margin-top: 25px;
    width: 100%;
    min-width: 875px;
    border: 1px solid var(--border-color-gray-transparent);
    font-size: 0.75rem;
    color: var(--text-color-gray);
    border-collapse: collapse;
}



tr:first-child,
tr:last-child {
    background-color: var(--bg-sec-color);
}


tr:last-child td {
    border-bottom: none;
}

th {
    text-align: start;
}

th,
td {
    border-bottom: 1px solid var(--border-color-gray-transparent);
    padding: 10px;
}

tr>td:first-child,
tr>td:nth-child(4),
tr>td:nth-child(5) {
    font-weight: 700;
}

tr>td:nth-child(2),
tr>td:nth-child(5) {
    font-size: 0.875rem;
}

tr>td:nth-child(3) {
    font-size: 0.8rem;
}

tr>td:nth-child(4) {
    font-size: 0.825rem;
}

.table-status {
    padding: 5px;
    display: inline;
    border-radius: 12px;
    font-weight: 700;
    font-size: 0.7rem;
    color: var(--text-color-white);
}

.table-status.delivered {
    background-color: #065f46;
    color: var(--text-color-gray);
}

.table-status.pending {
    background-color: #ca8a04;
}

.table-status.processing {
    background-color: #1e40af;
}

.table-status.canceled {
    background-color: #991b1b;
    color: var(--text-color-gray);
}

table select {
    background-color: #374151;
    padding: 7px 10px;
    color: var(--text-color-gray-white);
    border-radius: 5px;
    width: 100%;
    outline: none;
}

.invoice__actions {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.invoice__action {
    width: 20px;
    height: 20px;
}

.invoice__action:first-child {
    color: var(--border-color-gray-transparent);
}

.invoice__action:hover {
    color: var(--pri-color-2);
}

.table-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    align-items: center;
}

.pagination {
    display: flex;
    font-weight: normal;
}

.pagination__child {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.pagination__child:hover {
    background-color: #2f3f55;
}

.pagination__child.active {
    background-color: var(--pri-color);
    color: white;
}

.pagination__icon {
    width: 16px;
    height: 16px;
}

.aside-display {
    display: none;
}


.container {
    width: 100%;
    padding-inline: 100px;
    margin-inline: 0;
    transition: 0.1s ease;
}

.coll {
    margin-left: var(--aside-margin);
    width: calc(100% - var(--aside-margin));
    padding-inline: 30px;
}


@media (max-width: 1280px) {
    .container {
        padding-inline: 30px;
    }

    .small-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {
    .aside {
        display: none;
        overflow: auto;
        top: 65px;
        box-shadow: 50px 50px 50px 500px rgba(0, 0, 0, 0.5);
        transition: 5s ease;
    }

    .aside-display {
        display: block;
    }

    .coll {
        margin: 0;
        width: 100%;
    }

    .small-cards {
        grid-template-columns: 1fr;
    }

    .charts {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 640px) {
    .large-cards {
        grid-template-columns: 1fr;
    }

    .container {
        padding-inline: 10px;
    }

    table {
        min-width: initial;
    }

    tr:nth-child(2n) {
        background-color: #151e30;
    }

    th {
        display: none;
    }

    td {
        display: block;
        padding: 0.5rem 1rem;
        border: none;
    }

    td:first-child {
        padding-top: 2rem;
    }

    td:last-child {
        padding-bottom: 2rem;
    }

    td[data-cell]::before {
        content: attr(data-cell) ":";
        font-weight: 900;
        text-transform: capitalize;
        padding-right: 0.5rem;

    }

    table select {
        width: 70%;
    }
}